.MessBox {
  margin: 30px;
  position: relative;
  width: 300px;
  height: 400px;
  border: solid black 2px;
  padding: 5px;
}

.MessBox input[type="button"] {
  padding: 0;
  font-size: 100%;
}

.MessBox .head {
  position: relative;
  width: 100%;
  height: 17%;
}
.MessBox .head-1, .head-2 {
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .MessBox .head-2 div{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
.MessForm {
  position: relative;
  width: 100%;
  height: 19%;
}
.MessForm textarea {
  height: 98%;
  width: 98%;
  margin: 0;
  border: solid black 1px;
}
.MessWindow {
  position: relative;
  box-sizing: border-box;
  overflow-y:auto;
  height: 60%;
  margin: 2% 0;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
}
.MessWindow div {
  font-size: 95%;
}
.alert-join-room , .alert-leave-room {
  text-align: center;
}
.alert-join-room {
  background-color: rgba(18, 90, 50, 0.6);
}
.alert-leave-room {
  background-color: rgba(177, 2, 2, 0.6);
}
.MessBox .head-1 div {
  position: relative;
}

.MessBox  input[type="button"] {
  outline: 0;
  outline-offset: 0;
  text-decoration: none;
  border-radius: 3px;
  border: 0;
 
  padding: 4px 2px;
  background: rgba(64,199,129, 1);
  transition: .3s ease-out;
}
.MessBox .head input[type="button"]:last-child {
  /* padding-left: 15%; */
  box-shadow: -25px 0px rgba(64,199,129, 1);
}
.MessBox .head input[type="button"]:first-child {
  /* padding-right: 15%; */
  box-shadow: 25px 0 rgba(64,199,129, 1);
}

.MessBox .head input[type="button"]:hover {
  background-color: rgba(84, 236, 158, 1);
  box-shadow: none;
  /* padding: 4px 2px; */
}

.MessBox input[type="button"]:active {
  background: rgb(49, 150, 98);
}
